@page
@model VendorEvents_1.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Event Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventBooked)
        </dd>
        <ul>
            @foreach(var product in Model.Event.EventProducts!)
            {
                <form method="post">
                    <input type="hidden" asp-for="ProductIDToDelete" value="@product.Product.ProductID" />
                <li>
                    @product.Product.ProductDescription <input type="submit" Value="Drop" class="btn btn-danger btn-sm my-1" asp-page-handler="DeleteProduct" asp-route-id="@Model.Event.EventID">
                </li>
                </form>
            }
        </ul>        
    </dl>
 <div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Event.EventID" />
            <div class="form-group">
                <select asp-items="Model.ProductsDropDown" asp-for="ProductIDToAdd" class="form-control">
                    <option value="">--Select Product to Add--</option>
                </select>
                <span asp-validation-for="ProductIDToAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-primary" asp-page-handler="" asp-route-id="@Model.Event.EventID"/>
            </div>
        </form>
    </div>
    </div>   
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event?.EventID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
